In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../../data/kosdaq/price.csv", index_col='date', parse_dates=True)
sn = pd.read_csv("../../data/kosdaq/share_number.csv", index_col='date', parse_dates=True)
pm = pd.read_csv("../../data/kosdaq/price_mod.csv", index_col = 'date', parse_dates = True)

df_n = pd.read_csv("../../data/kosdaq/price_n.csv", index_col='date', parse_dates=True)
sn_n = pd.read_csv("../../data/kosdaq/share_number_n.csv", index_col='date', parse_dates=True)
pm_n = pd.read_csv("../../data/kosdaq/price_mod_n.csv", index_col = 'date', parse_dates = True)

In [7]:
print(set(df_n.columns) - set(df.columns))
print(set(sn_n.columns) - set(sn.columns))
print(set(pm_n.columns) - set(pm.columns))

{'A356890', 'A367480', 'A367360'}
set()
set()

In [10]:
t = list(set(df_n.columns) - set(df.columns))
df_n = df_n.drop(t, axis=1)

In [11]:
df_ = pd.concat([df, df_n])
sn_ = pd.concat([sn, sn_n])
pm_ = pd.concat([pm, pm_n])

In [15]:
df_[-20:]

,A091990,A068760,A028300,A096530,A263750,A196170,A247540,A293490,A035760,A036490,...,A900010,A900020,A900040,A900060,A900090,A900130,A900150,A900180,A950030,A950220
date,,,,,,,,,,,,,,,,,,,,,
2021-01-15,143400.0,187400.0,91700,179900.0,266400.0,150700.0,193400.0,46150.0,158600,325100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-18,139200.0,179500.0,91000,171500.0,270300.0,143700.0,188200.0,45400.0,156500,317200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-19,140000.0,181700.0,91200,165000.0,266900.0,149500.0,190000.0,45650.0,163000,328300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-20,140900.0,180800.0,93100,174200.0,273000.0,154500.0,192700.0,46350.0,164500,356200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-21,143000.0,180600.0,91700,167700.0,265800.0,150100.0,191800.0,46650.0,163100,349500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-22,144600.0,178000.0,90700,171400.0,271800.0,147000.0,194100.0,48050.0,163800,340000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-25,152400.0,184300.0,90600,175500.0,278600.0,153700.0,194000.0,49650.0,172800,346600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-26,152400.0,188000.0,90500,175200.0,283000.0,150300.0,193200.0,48800.0,168000,332800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-27,152600.0,193700.0,90100,170200.0,315800.0,147100.0,197100.0,48750.0,167300,324000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-28,149200.0,186600.0,89100,169000.0,319300.0,141100.0,189100.0,47800.0,159800,311800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-29,143700.0,175000.0,90000,165000.0,314900.0,133100.0,183500.0,47300.0,152900,306800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-01,157500.0,187300.0,96500,179700.0,332000.0,143500.0,187800.0,50800.0,156500,320600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-02,150600.0,181000.0,94800,172700.0,336000.0,143400.0,186300.0,52700.0,160500,319000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-03,149200.0,178300.0,95400,176000.0,335000.0,141500.0,189500.0,52700.0,161900,324500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-04,149700.0,179000.0,92600,174600.0,350000.0,139000.0,188200.0,51000.0,159600,320900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-05,148500.0,180500.0,91500,178700.0,402000.0,143000.0,188500.0,52400.0,150300,319900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-08,146000.0,177400.0,91200,180100.0,395000.0,140500.0,187100.0,55300.0,149000,320500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-09,142300.0,173000.0,91800,175100.0,367700.0,143200.0,186100.0,54100.0,147000,319300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-10,141400.0,172600.0,91700,176400.0,361100.0,143100.0,186800.0,55400.0,144000,324800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-15,143200.0,172600.0,91400,174200.0,351000.0,144900.0,186500.0,55700.0,144500,333700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_.to_csv('../../data/kosdaq/price.csv')
sn_.to_csv('../../data/kosdaq/share_number.csv')
pm_.to_csv('../../data/kosdaq/price_mod.csv')