In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../../data/kosdaq/price.csv", index_col='date', parse_dates=True)
sn = pd.read_csv("../../data/kosdaq/share_number.csv", index_col='date', parse_dates=True)
pm = pd.read_csv("../../data/kosdaq/price_mod.csv", index_col = 'date', parse_dates = True)

df_n = pd.read_csv("../../data/kosdaq/price_n.csv", index_col='date', parse_dates=True)
sn_n = pd.read_csv("../../data/kosdaq/share_number_n.csv", index_col='date', parse_dates=True)
pm_n = pd.read_csv("../../data/kosdaq/price_mod_n.csv", index_col = 'date', parse_dates = True)

In [7]:
df_ = pd.concat([df, df_n])
sn_ = pd.concat([sn, sn_n])
pm_ = pd.concat([pm, pm_n])

In [9]:
df_

,A091990,A068760,A028300,A096530,A263750,A196170,A247540,A293490,A035760,A036490,...,A900010,A900020,A900040,A900060,A900090,A900130,A900150,A900180,A950030,A950220
date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,NaN,NaN,740,NaN,NaN,NaN,NaN,NaN,73200,21050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,820,NaN,NaN,NaN,NaN,NaN,65200,18550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,840,NaN,NaN,NaN,NaN,NaN,62500,16350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,800,NaN,NaN,NaN,NaN,NaN,55500,14400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,NaN,NaN,710,NaN,NaN,NaN,NaN,NaN,56700,12700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-28,149200.0,186600.0,89100,169000.0,319300.0,141100.0,189100.0,47800.0,159800,311800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-29,143700.0,175000.0,90000,165000.0,314900.0,133100.0,183500.0,47300.0,152900,306800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-01,157500.0,187300.0,96500,179700.0,332000.0,143500.0,187800.0,50800.0,156500,320600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-02,150600.0,181000.0,94800,172700.0,336000.0,143400.0,186300.0,52700.0,160500,319000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-03,149200.0,178300.0,95400,176000.0,335000.0,141500.0,189500.0,52700.0,161900,324500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_.to_csv('../../data/kosdaq/price.csv')
sn_.to_csv('../../data/kosdaq/share_number.csv')
pm_.to_csv('../../data/kosdaq/price_mod.csv')