In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../../data/kosdaq/price.csv", index_col='date', parse_dates=True)
sn = pd.read_csv("../../data/kosdaq/share_number.csv", index_col='date', parse_dates=True)
pm = pd.read_csv("../../data/kosdaq/price_mod.csv", index_col = 'date', parse_dates = True)

df_n = pd.read_csv("../../data/kosdaq/price_n.csv", index_col='date', parse_dates=True)
sn_n = pd.read_csv("../../data/kosdaq/share_number_n.csv", index_col='date', parse_dates=True)
pm_n = pd.read_csv("../../data/kosdaq/price_mod_n.csv", index_col = 'date', parse_dates = True)

In [3]:
set(df_n.columns) - set(df.columns)

set()

In [4]:
df_ = pd.concat([df, df_n])
sn_ = pd.concat([sn, sn_n])
pm_ = pd.concat([pm, pm_n])

In [5]:
df_

,A091990,A068760,A028300,A096530,A263750,A196170,A247540,A293490,A035760,A036490,...,A900010,A900020,A900040,A900060,A900090,A900130,A900150,A900180,A950030,A950220
date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,NaN,NaN,740,NaN,NaN,NaN,NaN,NaN,73200,21050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,820,NaN,NaN,NaN,NaN,NaN,65200,18550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,840,NaN,NaN,NaN,NaN,NaN,62500,16350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,800,NaN,NaN,NaN,NaN,NaN,55500,14400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,NaN,NaN,710,NaN,NaN,NaN,NaN,NaN,56700,12700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-05,148500.0,180500.0,91500,178700.0,402000.0,143000.0,188500.0,52400.0,150300,319900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-08,146000.0,177400.0,91200,180100.0,395000.0,140500.0,187100.0,55300.0,149000,320500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-09,142300.0,173000.0,91800,175100.0,367700.0,143200.0,186100.0,54100.0,147000,319300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-10,141400.0,172600.0,91700,176400.0,361100.0,143100.0,186800.0,55400.0,144000,324800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-15,143200.0,172600.0,91400,174200.0,351000.0,144900.0,186500.0,55700.0,144500,333700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_.to_csv('../../data/kosdaq/price.csv')
sn_.to_csv('../../data/kosdaq/share_number.csv')
pm_.to_csv('../../data/kosdaq/price_mod.csv')